@charset "utf-8";
/* CSS Document */

* { margin: 0; padding: 0; list-style-type: none; }
body { font-size: 12px; font-family: "微软雅黑"; background-color: #fff; }
body, a { color: #000; text-decoration: none; }
img { display: block; border: none; }
h1, h2, h3, h4, h5, h6 { font-family: "微软雅黑", "宋体"; }
body { position: relative; z-index: 1; background-repeat: repeat-x; background-image: url(../images/admin/body.jpg); }
.admlogin-back { position: absolute; left: 0; top: 0; width: 100%; height: 550px; background: url(../images/admin/back.jpg) no-repeat 50% 0; }
.admlogin-logo { position: absolute; left: 50%; top: 55px; width: 715px; height: 44px; margin-left: -358px; background: url(../images/admin/logo.png) no-repeat 0 0; _background-image: url(../images/admin/logo.gif); text-indent: -9999px; }
.admlogin-wrap { position: relative; z-index: 2; width: 1106px; margin: 0 auto; padding-top: 232px; }
.admlogin-pic { position: absolute; left: 0; top: 123px; width: 559px; height: 499px; background: url(../images/admin/pic.png) no-repeat; _background-image: url(../images/admin/pic.gif); }
.admlogin-form { position: absolute; right: 139px; top: 214px; width: 309px; height: 315px; padding: 1px 10px 19px 10px; background: url(../images/admin/form.png) no-repeat; _background-image: none; _background-color: #fff; _padding: 0; }
.admlogin-form-title { height: 40px; background-repeat: repeat-x; background-image: url(../images/admin/form-title.jpg); }
.admlogin-form-title span { display: block; width: 43px; height: 26px; margin-left: 16px; padding-top: 5px; line-height: 26px; border-bottom: 3px solid #008EFE; color: #fff; font-weight: normal; text-align: center; font-size: 14px; }
.admlogin-form-inner { padding: 36px 21px 0 18px; }
.admlogin-form-line { float: none; clear: both; overflow: hidden; margin-bottom: 30px; border: 1px solid #A8BCC7; border-radius: 3px; }
.admlogin-form .label { float: left; width: 40px; height: 40px; background-color: #006CC7; background-repeat: no-repeat; background-image: url(../images/admin/icon.png); _background-image: url(../images/admin/icon.gif); text-indent: -9999px; }
.admlogin-form .label.icon-user { background-position: 50% 10px; }
.admlogin-form .label.icon-pwd { background-position: 50% -60px; }
.admlogin-form .input-text { float: left; width: 206px; height: 40px; padding: 0 11px; line-height: 40px; border: none; background: none; }
.admlogin-form-btn { float: none; clear: both; }
.admlogin-form .input-login-btn { display: block; width: 268px; height: 40px; background-color: #016CD4; border: 1px solid #4EA1E5; border-radius: 3px; color: #fff; font-size: 14px; font-weight: bold; cursor: pointer; }
