<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/context  
       http://www.springframework.org/schema/context/spring-context-3.0.xsd">


	<!-- 配置扫瞄注解service,controller -->   
	<context:annotation-config />
	<context:component-scan base-package="*" />
	
	<!-- 配置数据库连接 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="jdbcUrl">
			<value>jdbc:mysql://127.0.0.1:3306/luck_draw</value>
		</property>
		<property name="user">
			<value>root</value>
		</property>
		<property name="password">
			<value>root</value>
		</property>
		
		<!-- 当连接池中的连接耗尽的时候c3p0一次同时获取的连接数，默认：3 -->
		<property name="acquireIncrement">
			<value>3</value>
		</property>
		<!-- 初始化连接大小 -->
		<property name="initialPoolSize">
			<value>3</value>
		</property>
		<!-- 连接池中保留的最小连接数 -->
		<property name="minPoolSize">
			<value>3</value>
		</property>
		<!-- 连接池中保留的最大连接数，默认：15 -->
		<property name="maxPoolSize">
			<value>100</value>
		</property>
		<!-- 最大空闲时间（单位：秒），若为0，则永不丢弃。 默认：0-->
		<property name="maxIdleTime">
			<value>600</value>
		</property>
		<!-- 检查所有连接池中的控线连接时间（单位：秒） -->
		<property name="idleConnectionTestPeriod">
			<value>900</value>
		</property>
		<!-- 控制数据源内加载的PreparedStatements数量 -->
		<property name="maxStatements">
			<value>100</value>
		</property>
		<!-- 多线程实现多个操作同时被执行，默认：3 -->
		<property name="numHelperThreads">
			<value>3</value>
		</property>
	</bean>
	<!-- 配置hibernate相关信息 -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mappingLocations">
			<list>
				<value>classpath*:/com/szht/taxtraining/pojo/*.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties"> <!-- 这里是Properties列表 -->
			<props>
				<prop key="hibernate.show_sql">true</prop> <!-- 显示sql -->	
			</props>
		</property>
	</bean>
	
	
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	

	<bean
		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"></bean>
		
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>
	<aop:aspectj-autoproxy proxy-target-class="true"  />

	
</beans>
